@font-face {
  font-family: gs_m;
  src: url(./assets/font/GmarketSansMedium.woff);
}
@font-face {
  font-family: gs_b;
  src: url(./assets/font/GmarketSansBold.woff);
}
@font-face {
  font-family: gs_l;
  src: url(./assets/font/GmarketSansLight.woff);
}
